<div id="body">
    <form id="notepad" (ngSubmit)="onSubmit()">
        <div class="container">
            <input id="notepad-name" type="text" [(ngModel)]="notepad.name" name="name" [readonly]="isReadOnly">
        </div>
    </form>
    <div class="container">
        <button *ngIf="isReadOnly" (click)="isReadOnly = !isReadOnly">Edit</button>
    </div>
    <div class="container">
        <button *ngIf="!isReadOnly" (click)="onSubmit()">
            Save changes
        </button>
        <button *ngIf="!isReadOnly" (click)="onDiscard()">
            Discard changes
        </button>
        <button *ngIf="!isReadOnly" (click)="onDelete()">
            Delete
        </button>
    </div>
    <div class="container">
        <div>Updated: {{ notepad.updated }}</div>
    </div>
    <h2>Notes</h2>
    <div class="notes-grid">
        <app-note *ngFor="let note of noteList" [note]="note" />
    </div>
</div>
