<div id="body">
    <h1>Create a new note</h1>
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
        <!-- <input id="username" type="text" formControlName="username" placeholder="Enter your username" required
                [ngClass]="{'error-input': signupForm.controls['username'].invalid && 
                    signupForm.controls['username'].touched && 
                    signupForm.get('username')?.value}"> -->
        <div class="container">
            <span>Header: </span>
            <input id="heaader" type="text" formControlName="header" placeholder="Header" required>
        </div>
        <div class="container">
            <span>Notepad: </span>
            <input id="notepadId" type="text" formControlName="notepadId" placeholder="Notepad" required>
        </div>
        <div class="container">
            <textarea class="form-control" aria-label="With textarea" formControlName="notes" placeholder="Write here new notes..."></textarea>
        </div>
        <div class="container">
            <button id="submit" type="submit" class="btn">Save</button>
            <button id="submit" type="discard" class="btn">Discard</button>
        </div>
        
    </form>
</div>
