<div id="body">
    <form (ngSubmit)="onSubmit()">
        <div class="container">
            <input id="header" type="text" [(ngModel)]="note.header" name="header" [readonly]="isReadOnly">
        </div>

        <div class="container">
            <div>Updated: {{ note.updated }}</div>
        </div>

        <div class="container">
            <textarea id="notes" [(ngModel)]="note.notes" name="notes" [readonly]="isReadOnly"></textarea>
        </div>
    </form>

    <div class="container">
        <button *ngIf="isReadOnly" (click)="isReadOnly = !isReadOnly">Edit</button>
    </div>
    <div class="container">
        <button *ngIf="!isReadOnly" (click)="onSubmit()">
            Save changes
        </button>
        <button *ngIf="!isReadOnly" (click)="onDiscard()">
            Discard changes
        </button>
        <button *ngIf="!isReadOnly" (click)="onDelete()">
            Delete
        </button>
    </div>
</div>
