html, body {
  margin: 0;
}

#body{
    margin: 1.5rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

.container{
    padding: 5px 0%;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}