// *{
//   background-color: rgb(38, 210, 84);
// }

#nav-div {
  display: flex;
  justify-content: center;
}

#navigation {
  display: flex;
  gap: 40px;
}

.btn {
  text-decoration: none;
}

.nav-text {
  font-size: 1.5em;
  text-align: center;
}
